.git
.gitignore
.dockerignore

**/node_modules
**/dist
**/.expo
**/coverage
**/*.tsbuildinfo

.env
.env.*
backend/.env
backend/.env.*
cliente-frontend/.env
negocio-frontend/.env
repartidor-frontend/.env

monitoring/grafana/data
monitoring/loki/data
monitoring/prometheus/data

*.log
npm-debug.log*
Dockerfile*
